<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Video Call App</title>
    <style media="screen">

    </style>
    <script type="text/javascript">
      const roomId = "<%= id %>"
    </script>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="socket.io/socket.io.js" defer></script>
    <script src="script.js" charset="utf-8" defer></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="video-display">
        <div id="video-container"></div>
        <div class="buttons">
          <button id="draw">Draw</button>
        </div>
      </div>
      <div class="chat"></div>
    </div>

  </body>
</html>
