/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
  RESET CSS STYLES
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.buttons {
  width: 100%;
  height: 10%;
}

.chat {
  width: 30%;
}

canvas {
  position: absolute;
}

.video-display {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#video-container{
  display: grid;
  grid-gap: 10px;
  height: 90%;
  position: relative;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
}

.mainVideo {
  width: 400px;
}

button {
  height: 30px;
  width: 80px;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  outline: none;
  border:none;
  text-decoration: none;
  background-color:red;
  cursor: pointer;
}
video {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border:2px solid white;
}